*.lst
*.[oa]
*.mo
mnttool_save
*-save

add2file/add2file
appbrowser/appbrowser
apps/apps
appsaudit/appsaudit
cpanel/cpanel
datetool/datetool
editor/editor
exittc/exittc
fdtool/fdtool
filechooser/filechooser
filetool/filetool
flit/flit
flpdf/flpdf
flrun/flrun
flwget/flwget
loadpack/loadpack
mirrorpicker/mirrorpicker
mnttool/mnttool
mnttool_save/mnttool_save
mousetool/mousetool
network/network
popask/popask
popup/popup
scmapps/scmapps
scmbrowser/scmbrowser
services/services
settheme/settheme
stats/stats
swapfile/swapfile
tcemirror/tcemirror
tc-grub4dos/tc-grub4dos
tc-install/tc-install
tc-wbarconf/tc-wbarconf
wallpaper/wallpaper
wbarconf/wbarconf
wbar_exclude/wbar_exclude
